@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.4rem;
  line-height: 1.5;
  font-family: "Quicksand", Helvetica, Arial, sans-serif;
  color: #222;
}

h1,
h2,
h3,
h4,
h5,
h6,
[class*="title"] {
  font-family: "Quicksand", Helvetica, Arial, sans-serif;
  font-size: 125%;
  font-weight: 700;
}

a,
a:visited {
  color: #222;
  cursor: pointer;
  outline: none;
}

a:hover {
  text-decoration: none;
}

ul {
  margin: 15px 0;
  padding: 0;
  list-style: none;
}

ul > li {
  margin-bottom: 15px;
}

ul:not(.trigger) > li:last-child {
  margin-bottom: 45px;
}

ul ul {
  margin: 30px 0 60px 30px;
  list-style: disc;
}

p {
  margin: 0.5em 0;
}

header,
nav,
footer,
section {
  display: block;
}

.bold {
  font-weight: bold;
}

.wrapper:before,
.wrapper:after {
  content: "";
  display: table;
}

.wrapper:after {
  clear: both;
}

.wrapper {
  max-width: 900px;
  padding: 0 30px;
  margin: 0 auto;
  zoom: 1;
}
@media screen and (max-width: 480px) {
  .wrapper .wrapper {
    padding-right: 15px;
    padding-left: 15px;
  }
}

.site-header,
.site-footer {
  text-align: center;
  margin: 30px auto;
}

.site-header {
  margin-top: 60px;
  text-decoration: none;
}

.site-footer {
  color: #999;
  font-size: 1.2rem;
}

.site-title {
  font-size: 6rem;
  margin: 0;
}

.site-tagline {
  color: #ffffff;
  margin-right: 10px;
  background-color: #222;
  padding: 5px 15px;
  text-transform: uppercase;
  font-weight: bold;
  min-width: 140px;
  text-align: center;
  display: inline-block;
  border: 2px solid #222;
}

.section-subtitle,
.tag,
.section-block {
  vertical-align: middle;
  display: inline-block;
}

.section-subtitle,
.section-block {
  font-size: 1.6rem;
}

.tag {
  color: #ffffff;
  margin-right: 10px;
  background-color: #222;
  padding: 0.5rem 1rem;
  text-transform: uppercase;
  font-weight: bold;
  min-width: 140px;
  text-align: center;
  display: inline-block;
  border: 2px solid #222;
}

.tag-light {
  background-color: transparent;
  color: #222;
}

.page-content {
  background-color: #ffffff;
  padding: 60px;
}

.section p {
  margin: 15px 0;
}

.section > p {
  margin-bottom: 60px;
}

.section-title {
  font-size: 2.5rem;
  margin-bottom: 15px;
}

.contact-phone {
  white-space: nowrap;
}

.list {
  padding-top: 10px;
}

.section-block {
  display: flex;
  align-items: center;
  font-size: 1.4rem;
}

.section-block p {
  margin: 0;
}

@media only screen and (max-device-width: 640px),
  only screen and (max-width: 640px) {
  html,
  body {
    min-width: 100% !important;
    -webkit-text-size-adjust: none;
  }
  .wrap {
    width: 90% !important;
    margin: 5%;
  }
  header {
    text-align: center;
    margin-bottom: 30px;
  }
  small,
  span {
    display: block;
  }
  small {
    font-size: 1.4rem;
  }
  ul ul {
    margin-left: 0;
    list-style: inside disc;
    margin-bottom: 15px;
  }
  .site-title {
    font-size: 5rem;
    margin: 15px;
    line-height: normal;
  }
  .page-content {
    padding: 0;
  }
  .page-title {
    font-size: 35px;
  }
  .page-header {
    margin-bottom: 30px;
  }
  .section-title {
    margin-bottom: 15px;
  }
  .section-subtitle,
  .tag,
  .section-block {
    display: block;
    text-align: left;
    margin: 0;
  }
  .section-block p {
    margin-bottom: 15px;
  }
  .tag {
    margin-bottom: 15px;
    text-align: center;
  }
  .section-subtitle {
    font-size: 2rem;
  }
}

@media print {
  html,
  body {
    border: 1px solid white;
    height: 99%;
    page-break-after: avoid;
    page-break-before: avoid;
  }

  html,
  body,
  h1,
  h2,
  h3,
  .site-title,
  .site-tagline,
  .tag,
  .section-title,
  .section-subtitle,
  small {
    color: #222 !important;
    font-family: Arial, Helvetica, sans-serif;
    background-color: transparent;
  }

  .wrapper {
    page-break-after: auto;
  }

  .site-title {
    font-size: 4.5rem;
    line-height: normal;
  }
  .site-tagline {
    font-size: 1.4rem;
    font-weight: bold;
  }
  .section:first-child,
  .site-header {
    margin-top: 30px;
  }
  .site-header {
    text-align: left;
    margin-bottom: 0;
  }
  .section:first-child {
    margin-top: 0;
  }
  .section > p,
  ul:not(.trigger) > li:last-child,
  ul ul {
    margin-bottom: 30px !important;
  }
  .section p {
    margin: 0;
  }
  .page-content,
  .page-content ul {
    padding: 0;
    margin: 0;
  }
  .page-contact {
    margin-bottom: 45px;
  }
  .hide-print {
    display: none;
  }
}
